.card {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.head h1,
.credit h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.save,
.autofill {
  background: #e66465;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.autofill:hover {
  background: #fd9191
}

.credit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.github {
  background: none;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
